* {
  box-sizing: border-box;
}

html, body {
  background: #f7f7f7;
}

form {
  width: 500px;
  margin: 25% auto;
}

fieldset {
  border: 0;
}

label {
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
  text-transform: uppercase;
  display: block;
}

.passwordField {
  position: relative;
}

input {
  line-height: 2.5;
  padding: 0 30px;
  font-size: 2em;
  border: 1px solid #c7c7c7;
  outline: none;
  width: 100%;
}

